@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: url(https://t4.ftcdn.net/jpg/03/43/25/09/360_F_343250968_iOiPEWxdWXd2UWMumSboTSHzwR7Q4Zpd.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 20px 20px;
}

.heading-container {
    text-align: center;
    margin-bottom: 50px;
}

.heading {
    font-size: 3rem;
    font-weight: bold;
    color: slategray;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
}

.heading i {
    margin-right: 10px;
    font-size: 1.2em;
}

.wrapper {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 40px;
}

.wrapper h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    color:whitesmoke;
}

.input-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-field {
    width: 48%;
    margin-bottom: 20px;
    position: relative;
}

.input-field input,.input-field textarea {
    width: 100%;
    padding: 10px 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
}

.input-field input::placeholder,.input-field textarea::placeholder {
    color: #ccc;
}

.input-field i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #ccc;
}

label {
    display: block;
    font-size: 16px;
    margin-top: 15px;
    color: #fff;
    text-align: center;
}

.btn {
    width: 100%;
    margin: 20px auto;
    padding: 15px;
    border: none;
    outline: none;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.social-login-btns {
    display: flex;
    justify-content: space-between;
}

.social-login-btn {
    width: 48%;
    padding: 15px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.social-login-btn i {
    font-size: 20px;
    margin-right: 10px;
}

.login-btn {
    background-color: transparent;
    color: #fff;
    border:none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #fff;
    color: #333;
}

.contact-us {
    background: transparent;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.contact-us h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}

.contact-us p {
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

.contact-us form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-us input,.contact-us textarea {
    width: 100%;
    padding: 10px ;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 5px;
    align-items: center;
    margin-left: 10px;
}

.contact-us button {
    padding: 15px 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.contact-us button:hover {
    background-color: #0069d9;
}

/* Responsive Design */

@media only screen and (max-width: 768px) {
    .input-field {
        width: 100%;
    }
    .social-login-btn {
        width: 100%;
    }
    .contact-us {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 480px) {
    .wrapper {
        padding: 30px;
    }
    .social-login-btn {
        width: 48%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .input-field {
        width: 100%;
    }
    .contact-us {
        padding: 30px;
    }
}
